<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Presentation.WebServer</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buttons">
                <span class="oi oi-chevron-right" aria-hidden="true"></span> Buttons
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="typography">
                <span class="oi oi-text" aria-hidden="true"></span> Typography
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="auditoverview">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Audit Overview
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="truckpartsoverview">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Truck Parts Overview
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="trucksoverview">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Trucks Overview
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
